<a href="https://colab.research.google.com/github/RamyaSri2222/Data-Science/blob/main/Untitled33.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
m=[[4,5],[6,5],[7,8]]
n=[[1,2],[3,4],[4,5]]
c=["A",'B']
l=pd.DataFrame(m,columns=c)
h=pd.DataFrame(n,columns=c)
result=(l,h)
k=pd.concat(result)
print(l)
print()
print(h)
print()
print(k)

   A  B
0  4  5
1  6  5
2  7  8

   A  B
0  1  2
1  3  4
2  4  5

   A  B
0  4  5
1  6  5
2  7  8
0  1  2
1  3  4
2  4  5

In [15]:
import pandas as pd
m=[[4,5],[6,5],[7,8]]
n=[[1,2],[3,4],[4,5]]
c=["A","B"]

l=pd.DataFrame(m,columns=c,)
h=pd.DataFrame(n,columns=c)
result=(l,h)
k=pd.concat(result,ignore_index=1)
print(l)
print()
print(h)
print()
print(k)

   A  B
0  4  5
1  6  5
2  7  8

   A  B
0  1  2
1  3  4
2  4  5

   A  B
0  4  5
1  6  5
2  7  8
3  1  2
4  3  4
5  4  5

In [30]:
import pandas as pd
m=[[4,5],[6,5],[7,8]]
n=[[1,2],[3,4],[4,5]]
c=["A","B"]
c1=["X","Y"]

l=pd.DataFrame(m,columns=c,)
h=pd.DataFrame(n,columns=c1)
result=(l,h)
k=pd.concat(result,ignore_index=1)
print(l)
print()
print(h)
print()
print(k)

   A  B
0  4  5
1  6  5
2  7  8

   X  Y
0  1  2
1  3  4
2  4  5

     A    B    X    Y
0  4.0  5.0  NaN  NaN
1  6.0  5.0  NaN  NaN
2  7.0  8.0  NaN  NaN
3  NaN  NaN  1.0  2.0
4  NaN  NaN  3.0  4.0
5  NaN  NaN  4.0  5.0

In [31]:
import pandas as pd
m=[[4,5],[6,5],[7,8]]
n=[[1,2],[3,4],[4,5]]
c=["A","B"]

l=pd.DataFrame(m,columns=c,)
h=pd.DataFrame(n,columns=c)
result=(l,h)
k=pd.concat(result,axis=1)
print(l)
print()
print(h)
print()
print(k)

   A  B
0  4  5
1  6  5
2  7  8

   A  B
0  1  2
1  3  4
2  4  5

   A  B  A  B
0  4  5  1  2
1  6  5  3  4
2  7  8  4  5