<a href="https://colab.research.google.com/github/RamyaSri2222/Data-Science/blob/main/Untitled35.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import files
uploaded=files.upload()

Saving sales8.csv to sales8.csv

In [6]:
import pandas as pd
df=pd.read_csv("sales8.csv")
print(df)

    Order Id Customer name  Customer Id                Product name  \
0     192837         Veeru            3                   LG Mobile
1     192838       Neelima           19        Apple iPad 10.2-inch
2     192839        Balaji           12      34in Ultrawide Monitor
3     192840        Shahid           20                   iPhone 11
4     192841         Vinay           10  Bose SoundSport Headphones
5     192842         Vinay           10                20in Monitor
6     192843        Balaji           12                    iPhone 8
7     192844    Nireekshan            1      27in 4K Gaming Monitor
8     192845          Venu           23                    iPhone 9
9     192846         Veeru            3                20in Monitor
10    192847     Madhurima            7               Flatscreen TV
11    192848         Kedar            2               Flatscreen TV
12    192849          Venu           23          Samsung Galaxy S20
13    192850       Neelima           19             ThinkPad Laptop
14    192851        Daniel            6      Samsung Galaxy S9 Plus
15    192852         Veeru            3                    iPhone 9
16    192853       Lavanya           16                   iPhone 7s
17    192854   Mallikarjun           13                   LG Mobile
18    192855         Vijay            9      Samsung Galaxy S9 Plus
19    192856       Karteek            4                    iPhone 8
20    192857         Mohan           24          Macbook Pro Laptop
21    192858          Venu           23  Bose SoundSport Headphones
22    192859     Madhurima            7          LG Washing Machine
23    192860         Venki           15                    iPhone 8
24    192861         Veeru            3          Samsung Galaxy S20
25    192862    Nireekshan            1               Flatscreen TV
26    192863        Daniel            6                    iPhone 8
27    192864         Kedar            2                Google Phone
28    192865     Madhurima            7      LG ThinQ Refrigerator
29    192866       Karteek            4                    iPhone 8

    Product cost  Quantity
0          65999         1
1          63000         2
2          75999         1
3          60000         2
4          69999         3
5          65999         2
6          55999         3
7          55999         3
8          55999         2
9          63000         1
10         63000         1
11         63999         2
12         65999         2
13         60000         2
14         69999         1
15         60000         2
16         55000         1
17         65999         1
18         69000         2
19         65000         2
20         59000         1
21         63000         1
22         69000         1
23         60000         1
24         51999         2
25         75999         2
26         69000         1
27         60000         1
28         61000         1
29         50000         2

In [17]:
import pandas as pd
df=pd.read_csv("sales8.csv")
df["orders amount"]= 10
print(df.head())
print()
print(df.tail())

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity  orders amount
0         65999         1             10
1         63000         2             10
2         75999         1             10
3         60000         2             10
4         69999         3             10

    Order Id Customer name  Customer Id            Product name  Product cost  \
25    192862    Nireekshan            1           Flatscreen TV         75999
26    192863        Daniel            6                iPhone 8         69000
27    192864         Kedar            2            Google Phone         60000
28    192865     Madhurima            7  LG ThinQ Refrigerator          61000
29    192866       Karteek            4                iPhone 8         50000

    Quantity  orders amount
25         2             10
26         1             10
27         1             10
28         1             10
29         2             10

In [21]:
import pandas as pd
df=pd.read_csv("sales8.csv")
df["order amount"]=df['Product cost']*df["Quantity"]
print(df.head())

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity  order amount
0         65999         1         65999
1         63000         2        126000
2         75999         1         75999
3         60000         2        120000
4         69999         3        209997

In [20]:
import pandas as pd
df=pd.read_csv("sales8.csv")
df["order amount"]=df['Product cost']*df["Quantity"]
print(df["order amount"].head())

0     65999
1    126000
2     75999
3    120000
4    209997
Name: order amount, dtype: int64

In [24]:
import pandas as pd
df=pd.read_csv("sales8.csv")
new=df["Product cost"]*df["Quantity"]
df.insert(4,"total",new)
print(df)

    Order Id Customer name  Customer Id                Product name   total  \
0     192837         Veeru            3                   LG Mobile   65999
1     192838       Neelima           19        Apple iPad 10.2-inch  126000
2     192839        Balaji           12      34in Ultrawide Monitor   75999
3     192840        Shahid           20                   iPhone 11  120000
4     192841         Vinay           10  Bose SoundSport Headphones  209997
5     192842         Vinay           10                20in Monitor  131998
6     192843        Balaji           12                    iPhone 8  167997
7     192844    Nireekshan            1      27in 4K Gaming Monitor  167997
8     192845          Venu           23                    iPhone 9  111998
9     192846         Veeru            3                20in Monitor   63000
10    192847     Madhurima            7               Flatscreen TV   63000
11    192848         Kedar            2               Flatscreen TV  127998
12    192849          Venu           23          Samsung Galaxy S20  131998
13    192850       Neelima           19             ThinkPad Laptop  120000
14    192851        Daniel            6      Samsung Galaxy S9 Plus   69999
15    192852         Veeru            3                    iPhone 9  120000
16    192853       Lavanya           16                   iPhone 7s   55000
17    192854   Mallikarjun           13                   LG Mobile   65999
18    192855         Vijay            9      Samsung Galaxy S9 Plus  138000
19    192856       Karteek            4                    iPhone 8  130000
20    192857         Mohan           24          Macbook Pro Laptop   59000
21    192858          Venu           23  Bose SoundSport Headphones   63000
22    192859     Madhurima            7          LG Washing Machine   69000
23    192860         Venki           15                    iPhone 8   60000
24    192861         Veeru            3          Samsung Galaxy S20  103998
25    192862    Nireekshan            1               Flatscreen TV  151998
26    192863        Daniel            6                    iPhone 8   69000
27    192864         Kedar            2                Google Phone   60000
28    192865     Madhurima            7      LG ThinQ Refrigerator    61000
29    192866       Karteek            4                    iPhone 8  100000

    Product cost  Quantity
0          65999         1
1          63000         2
2          75999         1
3          60000         2
4          69999         3
5          65999         2
6          55999         3
7          55999         3
8          55999         2
9          63000         1
10         63000         1
11         63999         2
12         65999         2
13         60000         2
14         69999         1
15         60000         2
16         55000         1
17         65999         1
18         69000         2
19         65000         2
20         59000         1
21         63000         1
22         69000         1
23         60000         1
24         51999         2
25         75999         2
26         69000         1
27         60000         1
28         61000         1
29         50000         2

In [30]:
 import pandas as pd
 df=pd.read_csv("sales8.csv")
 m=df.drop("Customer name",axis=1)
 print(m)

    Order Id  Customer Id                Product name  Product cost  Quantity
0     192837            3                   LG Mobile         65999         1
1     192838           19        Apple iPad 10.2-inch         63000         2
2     192839           12      34in Ultrawide Monitor         75999         1
3     192840           20                   iPhone 11         60000         2
4     192841           10  Bose SoundSport Headphones         69999         3
5     192842           10                20in Monitor         65999         2
6     192843           12                    iPhone 8         55999         3
7     192844            1      27in 4K Gaming Monitor         55999         3
8     192845           23                    iPhone 9         55999         2
9     192846            3                20in Monitor         63000         1
10    192847            7               Flatscreen TV         63000         1
11    192848            2               Flatscreen TV         63999         2
12    192849           23          Samsung Galaxy S20         65999         2
13    192850           19             ThinkPad Laptop         60000         2
14    192851            6      Samsung Galaxy S9 Plus         69999         1
15    192852            3                    iPhone 9         60000         2
16    192853           16                   iPhone 7s         55000         1
17    192854           13                   LG Mobile         65999         1
18    192855            9      Samsung Galaxy S9 Plus         69000         2
19    192856            4                    iPhone 8         65000         2
20    192857           24          Macbook Pro Laptop         59000         1
21    192858           23  Bose SoundSport Headphones         63000         1
22    192859            7          LG Washing Machine         69000         1
23    192860           15                    iPhone 8         60000         1
24    192861            3          Samsung Galaxy S20         51999         2
25    192862            1               Flatscreen TV         75999         2
26    192863            6                    iPhone 8         69000         1
27    192864            2                Google Phone         60000         1
28    192865            7      LG ThinQ Refrigerator          61000         1
29    192866            4                    iPhone 8         50000         2

In [31]:
 import pandas as pd
 df=pd.read_csv("sales8.csv")
 m=df.drop(columns="Customer name")
 print(m)

    Order Id  Customer Id                Product name  Product cost  Quantity
0     192837            3                   LG Mobile         65999         1
1     192838           19        Apple iPad 10.2-inch         63000         2
2     192839           12      34in Ultrawide Monitor         75999         1
3     192840           20                   iPhone 11         60000         2
4     192841           10  Bose SoundSport Headphones         69999         3
5     192842           10                20in Monitor         65999         2
6     192843           12                    iPhone 8         55999         3
7     192844            1      27in 4K Gaming Monitor         55999         3
8     192845           23                    iPhone 9         55999         2
9     192846            3                20in Monitor         63000         1
10    192847            7               Flatscreen TV         63000         1
11    192848            2               Flatscreen TV         63999         2
12    192849           23          Samsung Galaxy S20         65999         2
13    192850           19             ThinkPad Laptop         60000         2
14    192851            6      Samsung Galaxy S9 Plus         69999         1
15    192852            3                    iPhone 9         60000         2
16    192853           16                   iPhone 7s         55000         1
17    192854           13                   LG Mobile         65999         1
18    192855            9      Samsung Galaxy S9 Plus         69000         2
19    192856            4                    iPhone 8         65000         2
20    192857           24          Macbook Pro Laptop         59000         1
21    192858           23  Bose SoundSport Headphones         63000         1
22    192859            7          LG Washing Machine         69000         1
23    192860           15                    iPhone 8         60000         1
24    192861            3          Samsung Galaxy S20         51999         2
25    192862            1               Flatscreen TV         75999         2
26    192863            6                    iPhone 8         69000         1
27    192864            2                Google Phone         60000         1
28    192865            7      LG ThinQ Refrigerator          61000         1
29    192866            4                    iPhone 8         50000         2

In [34]:
 import pandas as pd
 df=pd.read_csv("sales8.csv")
 def total(df):
   m=df["Product cost"]*df["Quantity"]
   return m
 df["amount"]=df.apply(total,axis=1)
 print(df.head())

   Order Id Customer name  Customer Id                Product name  \
0    192837         Veeru            3                   LG Mobile
1    192838       Neelima           19        Apple iPad 10.2-inch
2    192839        Balaji           12      34in Ultrawide Monitor
3    192840        Shahid           20                   iPhone 11
4    192841         Vinay           10  Bose SoundSport Headphones

   Product cost  Quantity  amount
0         65999         1   65999
1         63000         2  126000
2         75999         1   75999
3         60000         2  120000
4         69999         3  209997